
<ngx-spinner>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<!-- Honda Banner -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div
        class="card text-center"
        style="background-color: transparent; margin-top: 30px; border: 0px;"
      >
        <div class="card-body">
          <img
            src="https://oauthserver2.herokuapp.com/honda-connect.png"
            class="img-fluid"
            style="width: 50%;"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Primary Number -->

<div class="container-fluid" style="position: realtive; margin-top: 20px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div  class="card" style="background-color:transparent; border: 0px;">
        <div class="card-body" style="background-color: transparent;">
          <div class="verifyNumber" *ngIf="isNumberVerified == false">
            <form [formGroup]="frmGrpNumber" (ngSubmit)="postPrimaryNo(frmGrpNumber.value)" autocomplete="off">
              <div class="alert alert-warning" role="alert" *ngIf="numberNotVerified == true">
                Number {{currentNumber}} is not registered!
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="frmGrpNumber.get('primaryMobileNo').hasError('minlength')">
                    Number must consist of 10 digits*
              </div>
                <p style="font-size: 20px;">Getting Started</p>
                <p style="color: #B1B1B1;">Login via mobile number</p>
                <input
                  formControlName="primaryMobileNo"
                  type="tel"
                  name="primaryMobileNo"
                  placeholder="9999999999"
                  maxlength="10"
                  required
                  id="hondaNum"
                >
                <br/><br/>
                <input
                  [disabled]="!frmGrpNumber.valid"  
                  class="btn btn-sm btn-danger"
                  type="submit"
                  value="Next">
            </form>  
          </div>
          
          <div class="verifyOTP" *ngIf="isNumberVerified == true && isOTPVerified == false">
            <form [formGroup]="frmGrpOTP" (ngSubmit)="postOTP(frmGrpOTP.value)" autocomplete="off">
              <div class="alert alert-warning" role="alert" *ngIf="otpNotVerified == true">
                OTP not verified. Attempts left {{attempts}}!
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="isOTPExpired == true">
                  OTP expired, please try again later!
              </div>
              <p style="font-size: 20px;">Getting Started</p>
              <p style="color: #B1B1B1;">  OTP sent to {{currentNumber}}
              </p>
              <div id="countdown">
                <div class="timer"><span id="time">{{this.timeLeft}}</span></div>
                  <svg>
                    <circle r="18" cx="20" cy="20" stroke="white" stroke-width="2" fill="none"></circle>
                    <!-- <circle id="circleAni1" r="18" cx="20" cy="20"></circle> -->
                    <circle id="circleAni" r="18" cx="20" cy="20"></circle>
                  </svg>
              </div>
              <div id="divOuter">
                <div id="divInner">
                  <input id="partitioned" type="tel" maxlength="4" name="otp" formControlName="otp" required/>
                </div>
                </div>
                <br />
                      <input
                        [disabled]="!frmGrpOTP.valid"
                        class="btn btn-sm btn-danger"
                        type="submit"
                        value="Next"
                      >
                      <input
                        class="btn btn-default"
                        style="border:0px; background-color: transparent; color: #B5965E; float: right;"
                        type="button"
                        value="Resend OTP"
                        (click)="resendOTP(frmGrpNumber.value)"
                        *ngIf="this.timeLeft == 0">
                      
            </form>
          </div>
      
          <div class="verifyMPIN" *ngIf="isNumberVerified == true && isOTPVerified == true && authorise == false">
            <form [formGroup]="frmGrpMPIN" (ngSubmit)="postMPIN(frmGrpMPIN.value)" autocomplete="off" >
              <div class="alert alert-warning" role="alert" *ngIf="mpinNotVerified == true">
                MPIN is not verified!
              </div>
              <p style="font-size: 20px;">OTP verified!</p>
                      <label style="color: #B1B1B1;">Enter your mPIN</label>&nbsp;
                      <div id="divOuter">
                        <div id="divInner">
                          <input id="partitioned" type="tel" maxlength="4" name="mpin" formControlName="mpin" required>
                        </div>
                      </div>
                      <br />
                      <input
                      [disabled]="!frmGrpMPIN.valid"
                        class="btn btn-danger btn-sm"
                        type="submit"
                        value="Login"
                      >
            </form>
          </div>

        </div>
        </div>

        <div class="Authorise" *ngIf="authorise == true">
          <div  class="card text-center" style="background-color:transparent; border: 0px;">
            <div class="card-body" style="background-color: transparent;">
          <form [formGroup]="frmGrpMPIN" (ngSubmit)="postMPIN(frmGrpMPIN.value)" autocomplete="off">
            <p>Honda requires permission to:</p>
            
              <br/>
                Access your Honda account details
            <br/>
            <br/>
            <input class="btn btn-danger btn-block" type="submit" value="Authorize" style="background-color: #cc0000;">
          </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


